.container {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

.header {
  margin-bottom: 25px;
}

.header h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  font-weight: 600;
}

.header p {
  color: #64748b;
  margin-top: 5px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.tab {
  border: none;
  background: #747474;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 6px;
  align-items: center;
  font-weight: 500;
}

.tab:hover {
  background: #e2e8f0;
}

.active {
  background: #3b82f6;
  color: white;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
}

.card h2 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.formGroup label {
  font-weight: 500;
  margin-bottom: 6px;
}

.formGroup input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
}

button[type="submit"] {
  margin-top: 10px;
  background: #3b82f6;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #2563eb;
}

.success {
  background: #dcfce7;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 15px;
  color: #166534;
}

.error {
  background: #fee2e2;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 15px;
  color: #991b1b;
}

.infoRow {
  margin-bottom: 15px;
}

.infoRow label {
  font-weight: 600;
  color: #64748b;
}

.value {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.passwordField{
position:relative;
display:flex;
align-items:center;
}

.passwordField input{
width:100%;
padding-right:40px;
}

.passwordField span{
position:absolute;
right:12px;
cursor:pointer;
color:#6b7280;
}

.passwordField span:hover{
color:#111827;
}