.header {
  background: white;
  padding: 18px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow);
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.iconBtn {
  background: #f0f0f5;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.iconBtn:hover {
  background: #e0e0eb;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hello {
  font-size: 12px;
  color: #9ca3af;
}

.gymName {
  font-size: 15px;
  font-weight: 600;
  color: #111827;
}

.mobileMenuBtn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);          /* make icon white */
  padding: 8px;          /* increase tap area */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.mobileMenuBtn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.mobileMenuBtn:active {
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .mobileMenuBtn {
    display: block;
  }
}
